openai==1.14.3
protobuf==3.20.3
streamlit==1.32.2
streamlit-modal==0.1.2
pinecone-client==4.0.0
cohere==5.5.8
anthropic==0.25.7 
pinecone-text[openai] == 0.9.0
youtube-transcript-api == 0.6.2
tiktoken == 0.7.0
docx2txt == 0.8
pdfplumber == 0.11.2
streamlit-extras == 0.4.3